@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#menu-0 .navbar-toggler {
  color: #8f99af;
}
#menu-0 .navbar-brand {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .nav-link {
  font-size: 15px;
}
#image1-r DIV {
  font-size: 80px;
  color: #8f99af;
}
#msg-box1-s P {
  color: #6a7489;
  font-size: 15px;
}
#msg-box1-s H2 {
  color: #8f99af;
  font-size: 30px;
}
#image1-3 DIV {
  font-size: 80px;
  text-align: left;
  color: #8f99af;
}
#image1-3 B {
  color: #5bc0de;
  font-size: 60px;
  text-align: right;
}
#image1-3 I {
  color: #585858;
}
#msg-box1-9 P {
  color: #6a7489;
  font-size: 15px;
}
#msg-box1-9 H2 {
  color: #8f99af;
  font-size: 30px;
}
#image1-6 DIV {
  color: #bebebe;
  font-size: 80px;
}
#msg-box1-c H2 {
  color: #6a7489;
  font-size: 30px;
}
#msg-box1-c P {
  color: #6a7489;
  font-size: 15px;
}
#image1-8 B {
  color: #d9534f;
}
#image1-8 DIV {
  color: #000000;
  font-size: 16px;
}

#menu-o .navbar-toggler {
  color: #8f99af;
}
#menu-o .navbar-brand {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}
#menu-o .nav-link {
  font-size: 15px;
}
#content5-u .mbr-section-title {
  color: #d9534f;
}
#content4-v H4 {
  color: #d9534f;
}
#content4-v B {
  text-align: left;
}
#content4-v P {
  text-align: center;
}
#msg-box4-p .mbr-section-title {
  color: #d9534f;
}

#menu-w .navbar-toggler {
  color: #8f99af;
}
#menu-w .navbar-brand {
  font-size: 15px;
  font-family: 'Alegreya Sans', sans-serif;
}
#menu-w .nav-link {
  font-size: 15px;
}
