#menu-0 .navbar-toggler {
  color: #000;
}
#image1-3 DIV {
  font-size: 80px;
  text-align: left;
  color: #8f99af;
}
#image1-3 B {
  color: #5bc0de;
  font-size: 60px;
  text-align: right;
}
#image1-3 I {
  color: #585858;
}
#image1-4 DIV {
  color: #8f99af;
  font-size: 80px;
}
